.tableCellNumbers {
    text-align: right;
}

.tableCellNumbers span {
    display: flex;
    justify-content: flex-end;
}

.tableCellNumbers > span > div {
    margin: 0.05em 0 0 0.5em;
}

.clickableIcon:hover {
    cursor: pointer;
}