.crypto-icon-16 {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-size: cover;
}

.crypto-icon-32 {
	display: inline-block;
	width: 32px;
	height: 32px;
	background-size: cover;
}

.crypto-icon-128 {
	display: inline-block;
	width: 128px;
	height: 128px;
	background-size: cover;
}

.crypto-icon-color.crypto-icon-color-dollarpac{background-image:url("assets/crypto-svg-icons/$pac.svg");}
.crypto-icon-color.crypto-icon-color-abt{background-image:url("assets/crypto-svg-icons/abt.svg");}
.crypto-icon-color.crypto-icon-color-act{background-image:url("assets/crypto-svg-icons/act.svg");}
.crypto-icon-color.crypto-icon-color-ada{background-image:url("assets/crypto-svg-icons/ada.svg");}
.crypto-icon-color.crypto-icon-color-adx{background-image:url("assets/crypto-svg-icons/adx.svg");}
.crypto-icon-color.crypto-icon-color-ae{background-image:url("assets/crypto-svg-icons/ae.svg");}
.crypto-icon-color.crypto-icon-color-agi{background-image:url("assets/crypto-svg-icons/agi.svg");}
.crypto-icon-color.crypto-icon-color-agrs{background-image:url("assets/crypto-svg-icons/agrs.svg");}
.crypto-icon-color.crypto-icon-color-aion{background-image:url("assets/crypto-svg-icons/aion.svg");}
.crypto-icon-color.crypto-icon-color-amb{background-image:url("assets/crypto-svg-icons/amb.svg");}
.crypto-icon-color.crypto-icon-color-amp{background-image:url("assets/crypto-svg-icons/amp.svg");}
.crypto-icon-color.crypto-icon-color-ant{background-image:url("assets/crypto-svg-icons/ant.svg");}
.crypto-icon-color.crypto-icon-color-apex{background-image:url("assets/crypto-svg-icons/apex.svg");}
.crypto-icon-color.crypto-icon-color-appc{background-image:url("assets/crypto-svg-icons/appc.svg");}
.crypto-icon-color.crypto-icon-color-ardr{background-image:url("assets/crypto-svg-icons/ardr.svg");}
.crypto-icon-color.crypto-icon-color-ark{background-image:url("assets/crypto-svg-icons/ark.svg");}
.crypto-icon-color.crypto-icon-color-arn{background-image:url("assets/crypto-svg-icons/arn.svg");}
.crypto-icon-color.crypto-icon-color-ary{background-image:url("assets/crypto-svg-icons/ary.svg");}
.crypto-icon-color.crypto-icon-color-ast{background-image:url("assets/crypto-svg-icons/ast.svg");}
.crypto-icon-color.crypto-icon-color-atm{background-image:url("assets/crypto-svg-icons/atm.svg");}
.crypto-icon-color.crypto-icon-color-auto{background-image:url("assets/crypto-svg-icons/auto.svg");}
.crypto-icon-color.crypto-icon-color-bat{background-image:url("assets/crypto-svg-icons/bat.svg");}
.crypto-icon-color.crypto-icon-color-bay{background-image:url("assets/crypto-svg-icons/bay.svg");}
.crypto-icon-color.crypto-icon-color-bcbc{background-image:url("assets/crypto-svg-icons/bcbc.svg");}
.crypto-icon-color.crypto-icon-color-bcc{background-image:url("assets/crypto-svg-icons/bcc.svg");}
.crypto-icon-color.crypto-icon-color-bcd{background-image:url("assets/crypto-svg-icons/bcd.svg");}
.crypto-icon-color.crypto-icon-color-bch{background-image:url("assets/crypto-svg-icons/bch.svg");}
.crypto-icon-color.crypto-icon-color-bcn{background-image:url("assets/crypto-svg-icons/bcn.svg");}
.crypto-icon-color.crypto-icon-color-bco{background-image:url("assets/crypto-svg-icons/bco.svg");}
.crypto-icon-color.crypto-icon-color-bcpt{background-image:url("assets/crypto-svg-icons/bcpt.svg");}
.crypto-icon-color.crypto-icon-color-bdl{background-image:url("assets/crypto-svg-icons/bdl.svg");}
.crypto-icon-color.crypto-icon-color-bela{background-image:url("assets/crypto-svg-icons/bela.svg");}
.crypto-icon-color.crypto-icon-color-bix{background-image:url("assets/crypto-svg-icons/bix.svg");}
.crypto-icon-color.crypto-icon-color-blcn{background-image:url("assets/crypto-svg-icons/blcn.svg");}
.crypto-icon-color.crypto-icon-color-blk{background-image:url("assets/crypto-svg-icons/blk.svg");}
.crypto-icon-color.crypto-icon-color-block{background-image:url("assets/crypto-svg-icons/block.svg");}
.crypto-icon-color.crypto-icon-color-blz{background-image:url("assets/crypto-svg-icons/blz.svg");}
.crypto-icon-color.crypto-icon-color-bnb{background-image:url("assets/crypto-svg-icons/bnb.svg");}
.crypto-icon-color.crypto-icon-color-bnt{background-image:url("assets/crypto-svg-icons/bnt.svg");}
.crypto-icon-color.crypto-icon-color-bnty{background-image:url("assets/crypto-svg-icons/bnty.svg");}
.crypto-icon-color.crypto-icon-color-bos{background-image:url("assets/crypto-svg-icons/bos.svg");}
.crypto-icon-color.crypto-icon-color-bpt{background-image:url("assets/crypto-svg-icons/bpt.svg");}
.crypto-icon-color.crypto-icon-color-bq{background-image:url("assets/crypto-svg-icons/bq.svg");}
.crypto-icon-color.crypto-icon-color-brd{background-image:url("assets/crypto-svg-icons/brd.svg");}
.crypto-icon-color.crypto-icon-color-btc{background-image:url("assets/crypto-svg-icons/btc.svg");}
.crypto-icon-color.crypto-icon-color-btcd{background-image:url("assets/crypto-svg-icons/btcd.svg");}
.crypto-icon-color.crypto-icon-color-btcp{background-image:url("assets/crypto-svg-icons/btcp.svg");}
.crypto-icon-color.crypto-icon-color-btcz{background-image:url("assets/crypto-svg-icons/btcz.svg");}
.crypto-icon-color.crypto-icon-color-btg{background-image:url("assets/crypto-svg-icons/btg.svg");}
.crypto-icon-color.crypto-icon-color-btm{background-image:url("assets/crypto-svg-icons/btm.svg");}
.crypto-icon-color.crypto-icon-color-bts{background-image:url("assets/crypto-svg-icons/bts.svg");}
.crypto-icon-color.crypto-icon-color-btx{background-image:url("assets/crypto-svg-icons/btx.svg");}
.crypto-icon-color.crypto-icon-color-burst{background-image:url("assets/crypto-svg-icons/burst.svg");}
.crypto-icon-color.crypto-icon-color-cdn{background-image:url("assets/crypto-svg-icons/cdn.svg");}
.crypto-icon-color.crypto-icon-color-cdt{background-image:url("assets/crypto-svg-icons/cdt.svg");}
.crypto-icon-color.crypto-icon-color-cenz{background-image:url("assets/crypto-svg-icons/cenz.svg");}
.crypto-icon-color.crypto-icon-color-chat{background-image:url("assets/crypto-svg-icons/chat.svg");}
.crypto-icon-color.crypto-icon-color-chips{background-image:url("assets/crypto-svg-icons/chips.svg");}
.crypto-icon-color.crypto-icon-color-cix{background-image:url("assets/crypto-svg-icons/cix.svg");}
.crypto-icon-color.crypto-icon-color-clam{background-image:url("assets/crypto-svg-icons/clam.svg");}
.crypto-icon-color.crypto-icon-color-cloak{background-image:url("assets/crypto-svg-icons/cloak.svg");}
.crypto-icon-color.crypto-icon-color-cmt{background-image:url("assets/crypto-svg-icons/cmt.svg");}
.crypto-icon-color.crypto-icon-color-cnd{background-image:url("assets/crypto-svg-icons/cnd.svg");}
.crypto-icon-color.crypto-icon-color-cnx{background-image:url("assets/crypto-svg-icons/cnx.svg");}
.crypto-icon-color.crypto-icon-color-cny{background-image:url("assets/crypto-svg-icons/cny.svg");}
.crypto-icon-color.crypto-icon-color-cob{background-image:url("assets/crypto-svg-icons/cob.svg");}
.crypto-icon-color.crypto-icon-color-coqui{background-image:url("assets/crypto-svg-icons/coqui.svg");}
.crypto-icon-color.crypto-icon-color-cred{background-image:url("assets/crypto-svg-icons/cred.svg");}
.crypto-icon-color.crypto-icon-color-crpt{background-image:url("assets/crypto-svg-icons/crpt.svg");}
.crypto-icon-color.crypto-icon-color-crw{background-image:url("assets/crypto-svg-icons/crw.svg");}
.crypto-icon-color.crypto-icon-color-cs{background-image:url("assets/crypto-svg-icons/cs.svg");}
.crypto-icon-color.crypto-icon-color-ctr{background-image:url("assets/crypto-svg-icons/ctr.svg");}
.crypto-icon-color.crypto-icon-color-cvc{background-image:url("assets/crypto-svg-icons/cvc.svg");}
.crypto-icon-color.crypto-icon-color-dash{background-image:url("assets/crypto-svg-icons/dash.svg");}
.crypto-icon-color.crypto-icon-color-dat{background-image:url("assets/crypto-svg-icons/dat.svg");}
.crypto-icon-color.crypto-icon-color-data{background-image:url("assets/crypto-svg-icons/data.svg");}
.crypto-icon-color.crypto-icon-color-dbc{background-image:url("assets/crypto-svg-icons/dbc.svg");}
.crypto-icon-color.crypto-icon-color-dcn{background-image:url("assets/crypto-svg-icons/dcn.svg");}
.crypto-icon-color.crypto-icon-color-dcr{background-image:url("assets/crypto-svg-icons/dcr.svg");}
.crypto-icon-color.crypto-icon-color-deez{background-image:url("assets/crypto-svg-icons/deez.svg");}
.crypto-icon-color.crypto-icon-color-dent{background-image:url("assets/crypto-svg-icons/dent.svg");}
.crypto-icon-color.crypto-icon-color-dew{background-image:url("assets/crypto-svg-icons/dew.svg");}
.crypto-icon-color.crypto-icon-color-dgb{background-image:url("assets/crypto-svg-icons/dgb.svg");}
.crypto-icon-color.crypto-icon-color-dgd{background-image:url("assets/crypto-svg-icons/dgd.svg");}
.crypto-icon-color.crypto-icon-color-dlt{background-image:url("assets/crypto-svg-icons/dlt.svg");}
.crypto-icon-color.crypto-icon-color-dnr{background-image:url("assets/crypto-svg-icons/dnr.svg");}
.crypto-icon-color.crypto-icon-color-dnt{background-image:url("assets/crypto-svg-icons/dnt.svg");}
.crypto-icon-color.crypto-icon-color-doge{background-image:url("assets/crypto-svg-icons/doge.svg");}
.crypto-icon-color.crypto-icon-color-drgn{background-image:url("assets/crypto-svg-icons/drgn.svg");}
.crypto-icon-color.crypto-icon-color-dta{background-image:url("assets/crypto-svg-icons/dta.svg");}
.crypto-icon-color.crypto-icon-color-dtr{background-image:url("assets/crypto-svg-icons/dtr.svg");}
.crypto-icon-color.crypto-icon-color-ebst{background-image:url("assets/crypto-svg-icons/ebst.svg");}
.crypto-icon-color.crypto-icon-color-eca{background-image:url("assets/crypto-svg-icons/eca.svg");}
.crypto-icon-color.crypto-icon-color-edg{background-image:url("assets/crypto-svg-icons/edg.svg");}
.crypto-icon-color.crypto-icon-color-edo{background-image:url("assets/crypto-svg-icons/edo.svg");}
.crypto-icon-color.crypto-icon-color-edoge{background-image:url("assets/crypto-svg-icons/edoge.svg");}
.crypto-icon-color.crypto-icon-color-ela{background-image:url("assets/crypto-svg-icons/ela.svg");}
.crypto-icon-color.crypto-icon-color-elf{background-image:url("assets/crypto-svg-icons/elf.svg");}
.crypto-icon-color.crypto-icon-color-elix{background-image:url("assets/crypto-svg-icons/elix.svg");}
.crypto-icon-color.crypto-icon-color-ella{background-image:url("assets/crypto-svg-icons/ella.svg");}
.crypto-icon-color.crypto-icon-color-emc{background-image:url("assets/crypto-svg-icons/emc.svg");}
.crypto-icon-color.crypto-icon-color-emc2{background-image:url("assets/crypto-svg-icons/emc2.svg");}
.crypto-icon-color.crypto-icon-color-eng{background-image:url("assets/crypto-svg-icons/eng.svg");}
.crypto-icon-color.crypto-icon-color-enj{background-image:url("assets/crypto-svg-icons/enj.svg");}
.crypto-icon-color.crypto-icon-color-eos{background-image:url("assets/crypto-svg-icons/eos.svg");}
.crypto-icon-color.crypto-icon-color-eql{background-image:url("assets/crypto-svg-icons/eql.svg");}
.crypto-icon-color.crypto-icon-color-equa{background-image:url("assets/crypto-svg-icons/equa.svg");}
.crypto-icon-color.crypto-icon-color-etc{background-image:url("assets/crypto-svg-icons/etc.svg");}
.crypto-icon-color.crypto-icon-color-eth{background-image:url("assets/crypto-svg-icons/eth.svg");}
.crypto-icon-color.crypto-icon-color-ethos{background-image:url("assets/crypto-svg-icons/ethos.svg");}
.crypto-icon-color.crypto-icon-color-etn{background-image:url("assets/crypto-svg-icons/etn.svg");}
.crypto-icon-color.crypto-icon-color-etp{background-image:url("assets/crypto-svg-icons/etp.svg");}
.crypto-icon-color.crypto-icon-color-eur{background-image:url("assets/crypto-svg-icons/eur.svg");}
.crypto-icon-color.crypto-icon-color-evx{background-image:url("assets/crypto-svg-icons/evx.svg");}
.crypto-icon-color.crypto-icon-color-exmo{background-image:url("assets/crypto-svg-icons/exmo.svg");}
.crypto-icon-color.crypto-icon-color-exp{background-image:url("assets/crypto-svg-icons/exp.svg");}
.crypto-icon-color.crypto-icon-color-fair{background-image:url("assets/crypto-svg-icons/fair.svg");}
.crypto-icon-color.crypto-icon-color-fct{background-image:url("assets/crypto-svg-icons/fct.svg");}
.crypto-icon-color.crypto-icon-color-fil{background-image:url("assets/crypto-svg-icons/fil.svg");}
.crypto-icon-color.crypto-icon-color-fldc{background-image:url("assets/crypto-svg-icons/fldc.svg");}
.crypto-icon-color.crypto-icon-color-flo{background-image:url("assets/crypto-svg-icons/flo.svg");}
.crypto-icon-color.crypto-icon-color-fsn{background-image:url("assets/crypto-svg-icons/fsn.svg");}
.crypto-icon-color.crypto-icon-color-ftc{background-image:url("assets/crypto-svg-icons/ftc.svg");}
.crypto-icon-color.crypto-icon-color-fuel{background-image:url("assets/crypto-svg-icons/fuel.svg");}
.crypto-icon-color.crypto-icon-color-fun{background-image:url("assets/crypto-svg-icons/fun.svg");}
.crypto-icon-color.crypto-icon-color-game{background-image:url("assets/crypto-svg-icons/game.svg");}
.crypto-icon-color.crypto-icon-color-gas{background-image:url("assets/crypto-svg-icons/gas.svg");}
.crypto-icon-color.crypto-icon-color-gbp{background-image:url("assets/crypto-svg-icons/gbp.svg");}
.crypto-icon-color.crypto-icon-color-gbx{background-image:url("assets/crypto-svg-icons/gbx.svg");}
.crypto-icon-color.crypto-icon-color-gbyte{background-image:url("assets/crypto-svg-icons/gbyte.svg");}
.crypto-icon-color.crypto-icon-color-generic{background-image:url("assets/crypto-svg-icons/generic.svg");}
.crypto-icon-color.crypto-icon-color-gno{background-image:url("assets/crypto-svg-icons/gno.svg");}
.crypto-icon-color.crypto-icon-color-gnt{background-image:url("assets/crypto-svg-icons/gnt.svg");}
.crypto-icon-color.crypto-icon-color-grc{background-image:url("assets/crypto-svg-icons/grc.svg");}
.crypto-icon-color.crypto-icon-color-grs{background-image:url("assets/crypto-svg-icons/grs.svg");}
.crypto-icon-color.crypto-icon-color-gto{background-image:url("assets/crypto-svg-icons/gto.svg");}
.crypto-icon-color.crypto-icon-color-gup{background-image:url("assets/crypto-svg-icons/gup.svg");}
.crypto-icon-color.crypto-icon-color-gvt{background-image:url("assets/crypto-svg-icons/gvt.svg");}
.crypto-icon-color.crypto-icon-color-gxs{background-image:url("assets/crypto-svg-icons/gxs.svg");}
.crypto-icon-color.crypto-icon-color-hpb{background-image:url("assets/crypto-svg-icons/hpb.svg");}
.crypto-icon-color.crypto-icon-color-hsr{background-image:url("assets/crypto-svg-icons/hsr.svg");}
.crypto-icon-color.crypto-icon-color-html{background-image:url("assets/crypto-svg-icons/html.svg");}
.crypto-icon-color.crypto-icon-color-huc{background-image:url("assets/crypto-svg-icons/huc.svg");}
.crypto-icon-color.crypto-icon-color-hush{background-image:url("assets/crypto-svg-icons/hush.svg");}
.crypto-icon-color.crypto-icon-color-icn{background-image:url("assets/crypto-svg-icons/icn.svg");}
.crypto-icon-color.crypto-icon-color-icx{background-image:url("assets/crypto-svg-icons/icx.svg");}
.crypto-icon-color.crypto-icon-color-ignis{background-image:url("assets/crypto-svg-icons/ignis.svg");}
.crypto-icon-color.crypto-icon-color-ink{background-image:url("assets/crypto-svg-icons/ink.svg");}
.crypto-icon-color.crypto-icon-color-ins{background-image:url("assets/crypto-svg-icons/ins.svg");}
.crypto-icon-color.crypto-icon-color-ion{background-image:url("assets/crypto-svg-icons/ion.svg");}
.crypto-icon-color.crypto-icon-color-iop{background-image:url("assets/crypto-svg-icons/iop.svg");}
.crypto-icon-color.crypto-icon-color-iost{background-image:url("assets/crypto-svg-icons/iost.svg");}
.crypto-icon-color.crypto-icon-color-itc{background-image:url("assets/crypto-svg-icons/itc.svg");}
.crypto-icon-color.crypto-icon-color-jnt{background-image:url("assets/crypto-svg-icons/jnt.svg");}
.crypto-icon-color.crypto-icon-color-jpy{background-image:url("assets/crypto-svg-icons/jpy.svg");}
.crypto-icon-color.crypto-icon-color-kcs{background-image:url("assets/crypto-svg-icons/kcs.svg");}
.crypto-icon-color.crypto-icon-color-kin{background-image:url("assets/crypto-svg-icons/kin.svg");}
.crypto-icon-color.crypto-icon-color-kmd{background-image:url("assets/crypto-svg-icons/kmd.svg");}
.crypto-icon-color.crypto-icon-color-knc{background-image:url("assets/crypto-svg-icons/knc.svg");}
.crypto-icon-color.crypto-icon-color-krb{background-image:url("assets/crypto-svg-icons/krb.svg");}
.crypto-icon-color.crypto-icon-color-lbc{background-image:url("assets/crypto-svg-icons/lbc.svg");}
.crypto-icon-color.crypto-icon-color-lend{background-image:url("assets/crypto-svg-icons/lend.svg");}
.crypto-icon-color.crypto-icon-color-link{background-image:url("assets/crypto-svg-icons/link.svg");}
.crypto-icon-color.crypto-icon-color-lkk{background-image:url("assets/crypto-svg-icons/lkk.svg");}
.crypto-icon-color.crypto-icon-color-lrc{background-image:url("assets/crypto-svg-icons/lrc.svg");}
.crypto-icon-color.crypto-icon-color-lsk{background-image:url("assets/crypto-svg-icons/lsk.svg");}
.crypto-icon-color.crypto-icon-color-ltc{background-image:url("assets/crypto-svg-icons/ltc.svg");}
.crypto-icon-color.crypto-icon-color-lun{background-image:url("assets/crypto-svg-icons/lun.svg");}
.crypto-icon-color.crypto-icon-color-maid{background-image:url("assets/crypto-svg-icons/maid.svg");}
.crypto-icon-color.crypto-icon-color-mana{background-image:url("assets/crypto-svg-icons/mana.svg");}
.crypto-icon-color.crypto-icon-color-mcap{background-image:url("assets/crypto-svg-icons/mcap.svg");}
.crypto-icon-color.crypto-icon-color-mco{background-image:url("assets/crypto-svg-icons/mco.svg");}
.crypto-icon-color.crypto-icon-color-mda{background-image:url("assets/crypto-svg-icons/mda.svg");}
.crypto-icon-color.crypto-icon-color-mds{background-image:url("assets/crypto-svg-icons/mds.svg");}
.crypto-icon-color.crypto-icon-color-med{background-image:url("assets/crypto-svg-icons/med.svg");}
.crypto-icon-color.crypto-icon-color-miota{background-image:url("assets/crypto-svg-icons/miota.svg");}
.crypto-icon-color.crypto-icon-color-mith{background-image:url("assets/crypto-svg-icons/mith.svg");}
.crypto-icon-color.crypto-icon-color-mkr{background-image:url("assets/crypto-svg-icons/mkr.svg");}
.crypto-icon-color.crypto-icon-color-mln{background-image:url("assets/crypto-svg-icons/mln.svg");}
.crypto-icon-color.crypto-icon-color-mnx{background-image:url("assets/crypto-svg-icons/mnx.svg");}
.crypto-icon-color.crypto-icon-color-mnz{background-image:url("assets/crypto-svg-icons/mnz.svg");}
.crypto-icon-color.crypto-icon-color-mod{background-image:url("assets/crypto-svg-icons/mod.svg");}
.crypto-icon-color.crypto-icon-color-mona{background-image:url("assets/crypto-svg-icons/mona.svg");}
.crypto-icon-color.crypto-icon-color-mth{background-image:url("assets/crypto-svg-icons/mth.svg");}
.crypto-icon-color.crypto-icon-color-mtl{background-image:url("assets/crypto-svg-icons/mtl.svg");}
.crypto-icon-color.crypto-icon-color-music{background-image:url("assets/crypto-svg-icons/music.svg");}
.crypto-icon-color.crypto-icon-color-mzc{background-image:url("assets/crypto-svg-icons/mzc.svg");}
.crypto-icon-color.crypto-icon-color-nano{background-image:url("assets/crypto-svg-icons/nano.svg");}
.crypto-icon-color.crypto-icon-color-nas{background-image:url("assets/crypto-svg-icons/nas.svg");}
.crypto-icon-color.crypto-icon-color-nav{background-image:url("assets/crypto-svg-icons/nav.svg");}
.crypto-icon-color.crypto-icon-color-ncash{background-image:url("assets/crypto-svg-icons/ncash.svg");}
.crypto-icon-color.crypto-icon-color-ndz{background-image:url("assets/crypto-svg-icons/ndz.svg");}
.crypto-icon-color.crypto-icon-color-nebl{background-image:url("assets/crypto-svg-icons/nebl.svg");}
.crypto-icon-color.crypto-icon-color-neo{background-image:url("assets/crypto-svg-icons/neo.svg");}
.crypto-icon-color.crypto-icon-color-neos{background-image:url("assets/crypto-svg-icons/neos.svg");}
.crypto-icon-color.crypto-icon-color-ngc{background-image:url("assets/crypto-svg-icons/ngc.svg");}
.crypto-icon-color.crypto-icon-color-nio{background-image:url("assets/crypto-svg-icons/nio.svg");}
.crypto-icon-color.crypto-icon-color-nlc2{background-image:url("assets/crypto-svg-icons/nlc2.svg");}
.crypto-icon-color.crypto-icon-color-nlg{background-image:url("assets/crypto-svg-icons/nlg.svg");}
.crypto-icon-color.crypto-icon-color-nmc{background-image:url("assets/crypto-svg-icons/nmc.svg");}
.crypto-icon-color.crypto-icon-color-nuls{background-image:url("assets/crypto-svg-icons/nuls.svg");}
.crypto-icon-color.crypto-icon-color-nxs{background-image:url("assets/crypto-svg-icons/nxs.svg");}
.crypto-icon-color.crypto-icon-color-nxt{background-image:url("assets/crypto-svg-icons/nxt.svg");}
.crypto-icon-color.crypto-icon-color-oax{background-image:url("assets/crypto-svg-icons/oax.svg");}
.crypto-icon-color.crypto-icon-color-omg{background-image:url("assets/crypto-svg-icons/omg.svg");}
.crypto-icon-color.crypto-icon-color-omni{background-image:url("assets/crypto-svg-icons/omni.svg");}
.crypto-icon-color.crypto-icon-color-ont{background-image:url("assets/crypto-svg-icons/ont.svg");}
.crypto-icon-color.crypto-icon-color-oot{background-image:url("assets/crypto-svg-icons/oot.svg");}
.crypto-icon-color.crypto-icon-color-ost{background-image:url("assets/crypto-svg-icons/ost.svg");}
.crypto-icon-color.crypto-icon-color-ox{background-image:url("assets/crypto-svg-icons/ox.svg");}
.crypto-icon-color.crypto-icon-color-part{background-image:url("assets/crypto-svg-icons/part.svg");}
.crypto-icon-color.crypto-icon-color-pasl{background-image:url("assets/crypto-svg-icons/pasl.svg");}
.crypto-icon-color.crypto-icon-color-pay{background-image:url("assets/crypto-svg-icons/pay.svg");}
.crypto-icon-color.crypto-icon-color-pink{background-image:url("assets/crypto-svg-icons/pink.svg");}
.crypto-icon-color.crypto-icon-color-pirl{background-image:url("assets/crypto-svg-icons/pirl.svg");}
.crypto-icon-color.crypto-icon-color-pivx{background-image:url("assets/crypto-svg-icons/pivx.svg");}
.crypto-icon-color.crypto-icon-color-plr{background-image:url("assets/crypto-svg-icons/plr.svg");}
.crypto-icon-color.crypto-icon-color-poa{background-image:url("assets/crypto-svg-icons/poa.svg");}
.crypto-icon-color.crypto-icon-color-poe{background-image:url("assets/crypto-svg-icons/poe.svg");}
.crypto-icon-color.crypto-icon-color-poly{background-image:url("assets/crypto-svg-icons/poly.svg");}
.crypto-icon-color.crypto-icon-color-pot{background-image:url("assets/crypto-svg-icons/pot.svg");}
.crypto-icon-color.crypto-icon-color-powr{background-image:url("assets/crypto-svg-icons/powr.svg");}
.crypto-icon-color.crypto-icon-color-ppc{background-image:url("assets/crypto-svg-icons/ppc.svg");}
.crypto-icon-color.crypto-icon-color-ppp{background-image:url("assets/crypto-svg-icons/ppp.svg");}
.crypto-icon-color.crypto-icon-color-ppt{background-image:url("assets/crypto-svg-icons/ppt.svg");}
.crypto-icon-color.crypto-icon-color-prl{background-image:url("assets/crypto-svg-icons/prl.svg");}
.crypto-icon-color.crypto-icon-color-pura{background-image:url("assets/crypto-svg-icons/pura.svg");}
.crypto-icon-color.crypto-icon-color-qash{background-image:url("assets/crypto-svg-icons/qash.svg");}
.crypto-icon-color.crypto-icon-color-qiwi{background-image:url("assets/crypto-svg-icons/qiwi.svg");}
.crypto-icon-color.crypto-icon-color-qlc{background-image:url("assets/crypto-svg-icons/qlc.svg");}
.crypto-icon-color.crypto-icon-color-qrl{background-image:url("assets/crypto-svg-icons/qrl.svg");}
.crypto-icon-color.crypto-icon-color-qsp{background-image:url("assets/crypto-svg-icons/qsp.svg");}
.crypto-icon-color.crypto-icon-color-qtum{background-image:url("assets/crypto-svg-icons/qtum.svg");}
.crypto-icon-color.crypto-icon-color-r{background-image:url("assets/crypto-svg-icons/r.svg");}
.crypto-icon-color.crypto-icon-color-rads{background-image:url("assets/crypto-svg-icons/rads.svg");}
.crypto-icon-color.crypto-icon-color-rcn{background-image:url("assets/crypto-svg-icons/rcn.svg");}
.crypto-icon-color.crypto-icon-color-rdd{background-image:url("assets/crypto-svg-icons/rdd.svg");}
.crypto-icon-color.crypto-icon-color-rdn{background-image:url("assets/crypto-svg-icons/rdn.svg");}
.crypto-icon-color.crypto-icon-color-rep{background-image:url("assets/crypto-svg-icons/rep.svg");}
.crypto-icon-color.crypto-icon-color-req{background-image:url("assets/crypto-svg-icons/req.svg");}
.crypto-icon-color.crypto-icon-color-rhoc{background-image:url("assets/crypto-svg-icons/rhoc.svg");}
.crypto-icon-color.crypto-icon-color-ric{background-image:url("assets/crypto-svg-icons/ric.svg");}
.crypto-icon-color.crypto-icon-color-rise{background-image:url("assets/crypto-svg-icons/rise.svg");}
.crypto-icon-color.crypto-icon-color-rlc{background-image:url("assets/crypto-svg-icons/rlc.svg");}
.crypto-icon-color.crypto-icon-color-rpx{background-image:url("assets/crypto-svg-icons/rpx.svg");}
.crypto-icon-color.crypto-icon-color-rub{background-image:url("assets/crypto-svg-icons/rub.svg");}
.crypto-icon-color.crypto-icon-color-rvn{background-image:url("assets/crypto-svg-icons/rvn.svg");}
.crypto-icon-color.crypto-icon-color-salt{background-image:url("assets/crypto-svg-icons/salt.svg");}
.crypto-icon-color.crypto-icon-color-san{background-image:url("assets/crypto-svg-icons/san.svg");}
.crypto-icon-color.crypto-icon-color-sbd{background-image:url("assets/crypto-svg-icons/sbd.svg");}
.crypto-icon-color.crypto-icon-color-sberbank{background-image:url("assets/crypto-svg-icons/sberbank.svg");}
.crypto-icon-color.crypto-icon-color-sc{background-image:url("assets/crypto-svg-icons/sc.svg");}
.crypto-icon-color.crypto-icon-color-sky{background-image:url("assets/crypto-svg-icons/sky.svg");}
.crypto-icon-color.crypto-icon-color-slr{background-image:url("assets/crypto-svg-icons/slr.svg");}
.crypto-icon-color.crypto-icon-color-sls{background-image:url("assets/crypto-svg-icons/sls.svg");}
.crypto-icon-color.crypto-icon-color-smart{background-image:url("assets/crypto-svg-icons/smart.svg");}
.crypto-icon-color.crypto-icon-color-sngls{background-image:url("assets/crypto-svg-icons/sngls.svg");}
.crypto-icon-color.crypto-icon-color-snm{background-image:url("assets/crypto-svg-icons/snm.svg");}
.crypto-icon-color.crypto-icon-color-snt{background-image:url("assets/crypto-svg-icons/snt.svg");}
.crypto-icon-color.crypto-icon-color-spank{background-image:url("assets/crypto-svg-icons/spank.svg");}
.crypto-icon-color.crypto-icon-color-sphtx{background-image:url("assets/crypto-svg-icons/sphtx.svg");}
.crypto-icon-color.crypto-icon-color-srn{background-image:url("assets/crypto-svg-icons/srn.svg");}
.crypto-icon-color.crypto-icon-color-start{background-image:url("assets/crypto-svg-icons/start.svg");}
.crypto-icon-color.crypto-icon-color-steem{background-image:url("assets/crypto-svg-icons/steem.svg");}
.crypto-icon-color.crypto-icon-color-storj{background-image:url("assets/crypto-svg-icons/storj.svg");}
.crypto-icon-color.crypto-icon-color-storm{background-image:url("assets/crypto-svg-icons/storm.svg");}
.crypto-icon-color.crypto-icon-color-strat{background-image:url("assets/crypto-svg-icons/strat.svg");}
.crypto-icon-color.crypto-icon-color-sub{background-image:url("assets/crypto-svg-icons/sub.svg");}
.crypto-icon-color.crypto-icon-color-sumo{background-image:url("assets/crypto-svg-icons/sumo.svg");}
.crypto-icon-color.crypto-icon-color-sys{background-image:url("assets/crypto-svg-icons/sys.svg");}
.crypto-icon-color.crypto-icon-color-taas{background-image:url("assets/crypto-svg-icons/taas.svg");}
.crypto-icon-color.crypto-icon-color-tau{background-image:url("assets/crypto-svg-icons/tau.svg");}
.crypto-icon-color.crypto-icon-color-tel{background-image:url("assets/crypto-svg-icons/tel.svg");}
.crypto-icon-color.crypto-icon-color-ten{background-image:url("assets/crypto-svg-icons/ten.svg");}
.crypto-icon-color.crypto-icon-color-theta{background-image:url("assets/crypto-svg-icons/theta.svg");}
.crypto-icon-color.crypto-icon-color-tix{background-image:url("assets/crypto-svg-icons/tix.svg");}
.crypto-icon-color.crypto-icon-color-tkn{background-image:url("assets/crypto-svg-icons/tkn.svg");}
.crypto-icon-color.crypto-icon-color-tnb{background-image:url("assets/crypto-svg-icons/tnb.svg");}
.crypto-icon-color.crypto-icon-color-tnc{background-image:url("assets/crypto-svg-icons/tnc.svg");}
.crypto-icon-color.crypto-icon-color-tnt{background-image:url("assets/crypto-svg-icons/tnt.svg");}
.crypto-icon-color.crypto-icon-color-trig{background-image:url("assets/crypto-svg-icons/trig.svg");}
.crypto-icon-color.crypto-icon-color-trx{background-image:url("assets/crypto-svg-icons/trx.svg");}
.crypto-icon-color.crypto-icon-color-tzc{background-image:url("assets/crypto-svg-icons/tzc.svg");}
.crypto-icon-color.crypto-icon-color-ubq{background-image:url("assets/crypto-svg-icons/ubq.svg");}
.crypto-icon-color.crypto-icon-color-unity{background-image:url("assets/crypto-svg-icons/unity.svg");}
.crypto-icon-color.crypto-icon-color-usd{background-image:url("assets/crypto-svg-icons/usd.svg");}
.crypto-icon-color.crypto-icon-color-usdt{background-image:url("assets/crypto-svg-icons/usdt.svg");}
.crypto-icon-color.crypto-icon-color-utk{background-image:url("assets/crypto-svg-icons/utk.svg");}
.crypto-icon-color.crypto-icon-color-ven{background-image:url("assets/crypto-svg-icons/ven.svg");}
.crypto-icon-color.crypto-icon-color-veri{background-image:url("assets/crypto-svg-icons/veri.svg");}
.crypto-icon-color.crypto-icon-color-via{background-image:url("assets/crypto-svg-icons/via.svg");}
.crypto-icon-color.crypto-icon-color-vib{background-image:url("assets/crypto-svg-icons/vib.svg");}
.crypto-icon-color.crypto-icon-color-vibe{background-image:url("assets/crypto-svg-icons/vibe.svg");}
.crypto-icon-color.crypto-icon-color-vivo{background-image:url("assets/crypto-svg-icons/vivo.svg");}
.crypto-icon-color.crypto-icon-color-vrc{background-image:url("assets/crypto-svg-icons/vrc.svg");}
.crypto-icon-color.crypto-icon-color-vtc{background-image:url("assets/crypto-svg-icons/vtc.svg");}
.crypto-icon-color.crypto-icon-color-wabi{background-image:url("assets/crypto-svg-icons/wabi.svg");}
.crypto-icon-color.crypto-icon-color-wan{background-image:url("assets/crypto-svg-icons/wan.svg");}
.crypto-icon-color.crypto-icon-color-waves{background-image:url("assets/crypto-svg-icons/waves.svg");}
.crypto-icon-color.crypto-icon-color-wax{background-image:url("assets/crypto-svg-icons/wax.svg");}
.crypto-icon-color.crypto-icon-color-wgr{background-image:url("assets/crypto-svg-icons/wgr.svg");}
.crypto-icon-color.crypto-icon-color-wings{background-image:url("assets/crypto-svg-icons/wings.svg");}
.crypto-icon-color.crypto-icon-color-wpr{background-image:url("assets/crypto-svg-icons/wpr.svg");}
.crypto-icon-color.crypto-icon-color-wtc{background-image:url("assets/crypto-svg-icons/wtc.svg");}
.crypto-icon-color.crypto-icon-color-xas{background-image:url("assets/crypto-svg-icons/xas.svg");}
.crypto-icon-color.crypto-icon-color-xbc{background-image:url("assets/crypto-svg-icons/xbc.svg");}
.crypto-icon-color.crypto-icon-color-xby{background-image:url("assets/crypto-svg-icons/xby.svg");}
.crypto-icon-color.crypto-icon-color-xcp{background-image:url("assets/crypto-svg-icons/xcp.svg");}
.crypto-icon-color.crypto-icon-color-xdn{background-image:url("assets/crypto-svg-icons/xdn.svg");}
.crypto-icon-color.crypto-icon-color-xem{background-image:url("assets/crypto-svg-icons/xem.svg");}
.crypto-icon-color.crypto-icon-color-xlm{background-image:url("assets/crypto-svg-icons/xlm.svg");}
.crypto-icon-color.crypto-icon-color-xmg{background-image:url("assets/crypto-svg-icons/xmg.svg");}
.crypto-icon-color.crypto-icon-color-xmr{background-image:url("assets/crypto-svg-icons/xmr.svg");}
.crypto-icon-color.crypto-icon-color-xmy{background-image:url("assets/crypto-svg-icons/xmy.svg");}
.crypto-icon-color.crypto-icon-color-xp{background-image:url("assets/crypto-svg-icons/xp.svg");}
.crypto-icon-color.crypto-icon-color-xpa{background-image:url("assets/crypto-svg-icons/xpa.svg");}
.crypto-icon-color.crypto-icon-color-xpm{background-image:url("assets/crypto-svg-icons/xpm.svg");}
.crypto-icon-color.crypto-icon-color-xrp{background-image:url("assets/crypto-svg-icons/xrp.svg");}
.crypto-icon-color.crypto-icon-color-xtz{background-image:url("assets/crypto-svg-icons/xtz.svg");}
.crypto-icon-color.crypto-icon-color-xuc{background-image:url("assets/crypto-svg-icons/xuc.svg");}
.crypto-icon-color.crypto-icon-color-xvc{background-image:url("assets/crypto-svg-icons/xvc.svg");}
.crypto-icon-color.crypto-icon-color-xvg{background-image:url("assets/crypto-svg-icons/xvg.svg");}
.crypto-icon-color.crypto-icon-color-xzc{background-image:url("assets/crypto-svg-icons/xzc.svg");}
.crypto-icon-color.crypto-icon-color-yoyow{background-image:url("assets/crypto-svg-icons/yoyow.svg");}
.crypto-icon-color.crypto-icon-color-zcl{background-image:url("assets/crypto-svg-icons/zcl.svg");}
.crypto-icon-color.crypto-icon-color-zec{background-image:url("assets/crypto-svg-icons/zec.svg");}
.crypto-icon-color.crypto-icon-color-zel{background-image:url("assets/crypto-svg-icons/zel.svg");}
.crypto-icon-color.crypto-icon-color-zen{background-image:url("assets/crypto-svg-icons/zen.svg");}
.crypto-icon-color.crypto-icon-color-zil{background-image:url("assets/crypto-svg-icons/zil.svg");}
.crypto-icon-color.crypto-icon-color-zilla{background-image:url("assets/crypto-svg-icons/zilla.svg");}
.crypto-icon-color.crypto-icon-color-zrx{background-image:url("assets/crypto-svg-icons/zrx.svg");}

