.formRow > div {
    justify-content: space-between;
    align-items: flex-end;
    flex: 1;
} 

.transaction {
    flex: 1000 0 !important;
}

.dropdown > div:first-of-type {
    z-index: 0 !important; 
}

.innerinput {
    flex: 1 0 25% !important;
    margin: 0.5em 0em !important;
}