.formRow > div {
    justify-content: center;
    align-items: flex-end;
    flex: 1;
}

.form {
    flex: 1 0;
}

.transaction {
    flex: 1000 0 !important;
}

/* correction of z-index for text in the dropdown menu - should be moved to SUI css */
.dropdown > div:first-of-type {
    z-index: 0 !important; 
}

.innerinput {
    flex: 0 auto !important;
    min-width: 33%;
    margin: 0.5em 0em !important;
}

.innerinput input {
    text-align: center;
}


.dropdown > input {
    z-index: 0 !important;
}

.datepicker > div {
    display: flex;
}
