.formRow > div {
    justify-content: center;
    align-items: flex-end;
    flex: 1;
}

:local(.formRow) > :global(.fields.fluid) {
    margin: 0em;
}

.form {
    flex: 1 0;
}

.transaction {
    flex: 1000 0 !important;
}

/* correction of z-index for text in the dropdown menu - should be moved to SUI css */
.dropdown > div:first-of-type {
    z-index: 0 !important; 
}

.innerinput {
    flex: 1 !important;
    min-width: 9em;
    max-width: 12em;
    margin: 0.5em 0em !important;
}

.innerinput input {
    text-align: center;
    padding-left: 0 !important;
    padding-right: 0 !important;
}


.dropdown > input {
    z-index: 0 !important;
}

.datepicker > div {
    display: flex;
}

:local(.datepicker) :global(.DayPickerInput-Overlay) {
    top: 2.75em;
    left: -8.9em;
    z-index: 2;
}
