.body {
    min-width: 300px;
    padding: 10px;
    margin: 10px;
    background-color: white;
    font-size: 100%;
    flex: 0;
}
.title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    margin-bottom: 5px;
}
.titlename {
    font-size: 125%;
}
.titlenumber {
    font-size: 85%;
    font-weight: bold;
}

.red {
    color: red;
}

.green {
    color: green;
}
.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; 
}
.contentprimary {
    font-size: 175%;
}
.contentsecondary {
    font-size: 150%;
    color: darkgrey;
}