/* TODO: Graph and text panes should have single point of reference for css as they overlap */

.segment {
    width: "100%"
}

.body {
    padding: 10px 15px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid lightgrey;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    margin-bottom: 2em;
}

.titlename {
    font-size: 1.25em;
}

.titlenumber {
    font-size: 0.85em;
    font-weight: bold;
}

.red {
    color: red;
}

.green {
    color: green;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; 
}

.contentprimary {
    font-size: 1.75em;
}

.contentsecondary {
    font-size: 1.5em;
    color: darkgrey;
}