/* TODO: Graph and text panes should have single point of reference for css as they overlap */

.segment {
    width: 100%
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; 
}
