.body {
    padding: 1em 1.5em;
    background-color: white;
    flex: 1 1;
    border-radius: 5px;
    border: 1px solid lightgrey;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: baseline; 
    margin-bottom: 15px;
}

.titlename {
    font-size: 1.25em;
}

.titlenumber {
    font-weight: bold;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: baseline; 
}

.contentprimary {
    font-size: 1.5em;
    font-weight: 600;
}

.contentsecondary {
    color: darkgrey;
}