* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, #root {
  height: 100%;
}

body {
  font-family: 'Heebo', sans-serif;
  font-size: 13px;
  height: 100%;
}

.recharts-treemap-content rect{
  transition: all 0.5s ease;
}

.recharts-treemap-content:hover rect{
  fill: #000!important;
  opacity: 0.5;
}
